main{
    
    background-color: #091034;
}
.id{
    padding-top: 65px;
}
.grid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 30% 10%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      ".";
      
 
  }
  .firsta{
    font-weight: bold;
    color: wheat;
  }
  p{
    color: white;
  }
  h3{
    padding-top: 75px;
}
.div {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      padding-bottom: 95px;
      
}
@media screen and (min-width: 1200px){
    .grid {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60% 30% 10%;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "."
          "."
          ".";
          
          padding-top: 50px;
      }
      .firsta{
        padding-top: 130px;
      }
      .id{
       padding-top: 240px;
      }
      .div {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      padding-top: 95px;
      
}
}