.b{
  background-color: #091034;
  color: white;
  box-sizing: border-box;
}
.container{
  background-color: #091034;
}
.containerr {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:50% 10% 40%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    ".";
   
}

.id{
  background-color: #091034;
}
.border{
  border-radius: 5px;
}
.form{
  padding-top: 85px;

}
.mb-3{
  padding-top: 15px;
}
.social{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . .";
  
  
    padding-top: 115px;
  
}
.tt{
  padding-top: 100px;
padding-left: 40px;
padding-right: 25px;
}
.img{
  padding-left: 80px;
}
