main{
    display: flex;
        background-color: #091034;
      flex-direction: column;
      color: wheat;
      
    }
    .img{
      display: flex;
     justify-content: center;
      align-items: center;
  
      margin:44px;
    }
    .txt{
        text-align: center;
        padding-top: 115px ;
        justify-content: center;
      align-items: center;
     
      
    }

    a{
      text-align: center;
      
    }
    .link{
      padding-bottom: 14.775em;
    }
    @media screen and (min-height: 800px){
      .txt{
          padding-top: 16.375em;
          text-align: center;
          justify-content: center;
          align-items: center;
      }
     .link{
      
      padding-bottom: 11.375em;
     }
    }
    /*tablet*/
    /*horizontal*/
    @media screen and (min-width: 1180px){
      .txt{
        padding-top: 280px;
        color: wheat;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .link{
      
        padding-bottom: 22.175em;
       }
    }
     /*vertical*/
     @media screen and (min-height: 1180px){
      .txt{
        padding-top: 360px;
        color: wheat;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .link{
      
        padding-bottom: 35.175em;
       }
    }
    /*desktop*/
    @media screen and (min-width: 1200px){
      .txt{
        padding-top: 150px;
        color: wheat;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .img{
        padding-top: 2.9em;
      }
      .link{
      
        padding-bottom: 22.175em;
       }
    }