
*{
    box-sizing: border-box;
  }
  .body{
    display: flex;
  }
  .made{
    
      padding: 0;
      margin: 0;
      text-align: center;
  }
  .footer{
    align-self: flex-end;
      background-color: #18171c;
      text-align: center;
      bottom: 0;
      position: relative;
      width: 100%;
  }
  @media (min-height: 820px) {
    .footer{
      bottom: 0;
      position: relative;
      width: 100%;
      align-self: flex-end;
    }
    .made{
      width:100%;
     position: relative;
    }
  }
  /*desktop*/
  @media screen and (min-width: 1200px){
    
  
    .footer{
      bottom: 0;
      position: relative;
      width: 100%;
      align-self: flex-end;
    }
  
   
  }